//全局系统色调
.sys-col-danger{
  color: #f56c6c
}
.sys-col-warning{
  color: #e6a23c
}
.sys-col-info{
  color: #909399
}
.sys-col-success{
  color: #67c23a
}
.sys-col-primary{
  color: #409eff
}
.sys-bg-danger{
  background-color: #f56c6c
}
.sys-bg-warning{
  background-color: #e6a23c
}
.sys-bg-info{
  background-color: #909399
}
.sys-bg-success{
  background-color: #67c23a
}
.sys-bg-primary{
  background-color: #409eff
}
// 全局样式工具类
.f-toe{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
//全局详情p标签标题
.con-title {
  color: #333333;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 10px;
  background: #f5f7fa;
}
.con20{
  margin: 20px;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.margin-bottom10{
  margin-bottom: 10px;
}
//封禁状态
.unBan{
  color: #f56c6c;
}
.ban{
  color: #409EFF;
}
//多少条数据
.result-msg-container{
  margin: 10px 5px;

  .result-info{
    font-size: 12px;
    color: #666;
    border: 1px solid rgba(145, 213, 255, 1);
    background-color:rgba(230, 247, 255, 1);
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;

    em{
      font-style: normal;
      color: #1890FF;
    }
    i{
      margin-right: 5px;
      color:rgba(145, 213, 255, 1);
    }
  }

}
